.dropdown-menu.extended li p {

    background-color: #F1F2F7;

    color: #666666;

    margin: 0;

    padding: 10px;

}



.dropdown-menu.extended li p.green {

    background-color: #4cd964;

    color: #fff;

}



.dropdown-menu.extended li p.red {

    background-color: #00a0df;

    color: #fff;

}

.dropdown-menu.extended li p.blue {

    background-color: #688a7e;

    color: #fff;

}



.dropdown-menu.extended li p.yellow {

    background-color: #fcb322;

    color: #fff;

}



.dropdown-menu.extended li a {

    border-bottom: 1px solid #EBEBEB !important;

    font-size: 12px;

    list-style: none;

}



.dropdown-menu.extended li a {

    padding: 15px 10px !important;

    width: 100%;

    display: inline-block;

}



.dropdown-menu.extended li a:hover {

    background-color: #F7F8F9 !important;

    color: #2E2E2E;

    border-bottom: 1px solid #688a7e !important;

}



.dropdown-menu.tasks-bar .task-info .desc {

    font-size: 13px;

    font-weight: normal;

}



.dropdown-menu.tasks-bar .task-info .percent {

    display: inline-block;

    float: right;

    font-size: 13px;

    font-weight: 600;

    padding-left: 10px;

    margin-top: -4px;

}



.dropdown-menu.extended .progress {

    margin-bottom: 0 !important;

    height: 10px;

}



.dropdown-menu.inbox li a .photo img {

    border-radius: 2px 2px 2px 2px;

    float: left;

    height: 40px;

    margin-right: 4px;

    width: 40px;

}



.dropdown-menu.inbox li a .subject {

    display: block;

}



.dropdown-menu.inbox li a .subject .from {

    font-size: 12px;

    font-weight: 600;

}



.dropdown-menu.inbox li a .subject .time {

    font-size: 11px;

    font-style: italic;

    font-weight: bold;

    position: absolute;

    right: 5px;

}



.dropdown-menu.inbox li a .message {

    display: block !important;

    font-size: 11px;



}



.top-nav  {

    margin-top: 7px;

}



.top-nav ul.top-menu > li .dropdown-menu.logout {

    width: 200px !important;



}



.top-nav li.dropdown .dropdown-menu {

    float: right;

    right: 0;

    left: auto;

}



.dropdown-menu.extended.logout > li {

    float: left;

    text-align: left;

    width: 100%;

}

.dropdown-menu.extended.logout > li.eborder-top {

    border-top: 2px solid #688a7e !important;

}

.dropdown-menu.extended.logout > li:last-child {

    float: left;

    text-align: left;

    width: 100%;

    background: #688a7e;

}
.notification-row .badge {

    position: absolute;

    right: -4px;

    top: 0px;

    z-index: 100;

    border-radius: 9px;

    min-width: 18px;

    height: 18px;

    text-align: center;

    padding: 3px 5px;

    background: #00a0df;

    font-weight: 400;

}

.badge {

    border-radius: 9px;

    min-width: 18px;

    height: 18px;

    text-align: center;

    padding: 3px 5px;

    background: #00a0df;

}



.dropdown-menu.extended {

    max-width: 300px !important;

    min-width: 160px !important;

    top: 42px;

    width: 235px !important;

    padding: 0;

    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.176) !important;

    border: none !important;

    border-radius: 4px;

    -webkit-border-radius: 4px;

}
